@page
@model TomV.K8s.Showcase.EnvModel
@{
    ViewData["Title"] = "Env";
}

<h1>Env</h1>

<dl>
    @foreach (var env in Model.EnvironmentVariables)
    {

        <dt>@env.Key</dt>
        <dd>@env.Value</dd>
    }
</dl>

<a href="@Url.Page("Env", new { filter = "" })">No filter</a>
<br />
<a href="@Url.Page("Env", new { filter = "k8s" })">Filtered</a>